[submodule "themes/aether"]
	path = themes/aether
	url = https://github.com/josephhutch/aether.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
